html {
    background: rgba(21, 65, 89, 0.2);
    padding: 0px;
}

h1 {
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translate(-50%, -50%);
    width: 100%;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    font-size: 48px;
    text-align: center;
    color: #154159;
}

h2 {
    position: absolute;
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    font-size: 24px;
    width:300px;
    color: #154159;
}

.bluebtn {
    background-color: #154159;
    font-family: Lato;
    font-weight: 900;
    color: #ffffff;
    border-radius: 10px;
    border: 1px solid #154159;
}

select {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 14px;
    text-transform: uppercase;
}

input {
    font-family: Lato;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    font-size: 14px;
    text-transform: uppercase;
}

table,
tr,
td {
    font-family: Lato;
    font-style: normal;
    line-height: normal;
    text-transform: uppercase;
    color: #154159;
    text-align: center;
    padding: 10px;
    padding-left: 15px;
    padding-right:15px;
    min-width: 75px;
}

tr {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    border-collapse: collapse;
}


tr:nth-child(1) {
    border-top: none;
}
 tr:nth-last-child(1){
    border-bottom: none;
 }

tr:nth-child(even) {
    background-color: #FFFFFF;
}
tr:hover{
    background-color: #D0D9DD;
}

table {
    border-collapse: collapse;
    sortable: true;
}

th {
    font-weight: 900;
    font-size: 18px;
}

td {
    font-weight: 400;
    font-size: 16px;
}